[Unit]
Description=DNS PCAP Service.

[Service]
Restart=always
RuntimeMaxSec=86400
ExecStart=/bin/bash /usr/local/bin/packetcap.sh
User= pcap_svc

[Install]
WantedBy=multi-user.target
